.middle-section {
  text-align: center;
}
button {
  text-transform: uppercase;
  border-radius: 100%;
  background-color: #ffffff;
  border: 1.5px solid #000000;
  font-weight: 900;
  outline: none;
  line-height: 20px;
  margin: 10px;
}
.right {
  padding-left: 15px;
  padding-top: 5px;
}
.mrlf {
  padding-left: 90px;
}
.middle-section {
  padding-top: 70px;
}
.image {
  padding-top: 70px;
}
img {
  height: 250px;
}
p {
  color: gray;
  font-family: 'PT Serif', serif;
}
h1 {
  font-family: 'Libre Caslon Display', serif;
}
a {
  font-family: 'PT Serif', serif;
}
.card {
  padding: 0px 40px;
}

/* icon */
.icon-bar {
  position: fixed;
  right: 0;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: gray;
  font-size: 20px;
}
